<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>
      IUT d'Orsay
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
      <div class='tempContainer'>
        <div class='temperature'>
          <p class="tempText">0 °C</p>
          <ion-icon name="thermometer-outline" size="large"></ion-icon>
        </div>
        <p class='dateText'>{{today}}</p>
      </div>

      <div class='PresHumi'>
        <div class='humidite'>
          <p class="humtext">0 %</p>
          <ion-icon name="rainy-outline" size="large"></ion-icon>
        </div>
        <div class='presence'>
          <p class="prestext">0 pers</p>
          <ion-icon name="people-outline" size="large"></ion-icon>
        </div>
      </div>
    </div>
  <div id="lineChartHUMIDITE" style="width: 80%;; height: 400px; margin: 0 auto; margin:30px;"></div>
  <p id="statsHUMIDITE"></p>
  <div id="lineChartTEMPERATURE" style="width: 80%;; height: 400px; margin: 0 auto; margin:30px;"></div>
  <p id="statsTEMPERATURE"></p>
  <div id="lineChartPRESENCE" style="width: 80%;; height: 400px; margin: 0 auto; margin:30px;"></div>
  <p id="statsPRESENCE"></p>
</ion-content>